/*default: 1024x768*/
.page1 {
    background: url(../img/forest.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100vh;
    min-height: 850px;
}

.page1 .caption {
    position: absolute;
    top: 40vh;
    width: 100%;
    margin: 0 auto;
}

.page1 .caption p {
    font-family: UniSansThinCAPS;
    font-size: 48px;
    color: #e2e2e2;
    text-align: center;

}
.page1 .caption .phone {
    margin-top: 30px;
}


.page2 .page-title {
    text-align: center;
    margin: 20px 0 40px 0;
}

.page2 .page-title h1 {
    font-family: GenevaNormal;
    font-size: 30px;
    line-height: 30px;
    color: #3b4a53;
}

.page2 .article .title {
    position: relative;
    margin-left: 20px;
    padding-left: 40px;
    text-transform: uppercase;
    font-family: Myriad Pro;
    font-size: 18px;
    line-height: 24px;
    color: #3b4a53;
}

.page2 .article .title:before {
    position: absolute;
    left: 0;
    top: -5px;
}

.page2 .article .title.icon-wheel:before {
    content: url('../img/wheel.jpg');
}

.page2 .article .title.icon-landscape:before {
    content: url('../img/landscape.jpg');
}

.page2 .article .title.icon-lamp:before {
    content: url('../img/lamp.jpg');
}

.page2 .article .title.icon-map:before {
    content: url('../img/map.jpg');
}

.page2 .article .title.icon-money:before {
    content: url('../img/money.jpg');
}

.page2 .article .title.icon-protect:before {
    content: url('../img/protect.jpg');
}

.page2 .article .text {
    font-family: MinionPro;
    color: #3b4a53;
    padding: 20px 5px 5px 20px;
    width: 400px;
    font-size: 24px;
}

.right {
    float: right;
}

.left {
    float: left;
}


.row {
    margin: 0 auto 30px auto;
    padding-top: 5px;
    width: 45%;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    /* just for demo */
    min-width: 1000px;
}

.column {
    width: 450px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}
.comment {
    position: relative;
    z-index: 5;
    background-color: #919191;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    height: 350px;
    width: 980px;
    margin: 100px auto 0 auto;
}

.comment .triangle {
    position: absolute;
    top: -40px;
    left: 150px;

    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 40px solid #919191;
}

.comment .photo {
    top: 15%;
    left: 3%;
    position: absolute;
}

.comment .content {
    width: 72%;
    padding-left: 26%;
    padding-right: 10px;
}

.comment .content .title {
    font-family: Arial;
    font-size: 24px;
    color: #000000;
    line-height: 54px;
}

.comment .content .text {
    font-family: Arial;
    font-size: 18px;
    color: #000000;
}

.comment .content .text > p {
    margin-top: 18px;
}

.comment .authors {
    font-family: Adventure;
    font-size: 24px;
    color: black;
    text-align: right;
    position: absolute;
    bottom: 10px;
    right: 30px;
}

.examples{
    background-color: #e3e3e3;
    padding-bottom: 70px;
}
.examples .page-title {
    text-align: center;
    margin: 20px 0 40px 0;
    padding-top: 20px;
}

.examples .page-title h1 {
    font-family: GenevaNormal;
    font-size: 30px;
    line-height: 30px;
    color: #3b4a53;
}

.examples .video{
    width: 63%;
    margin: 60px  auto 0 auto;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}
.examples .video > div{
    width: 300px;
    height: 240px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.photobook{
    background: url(../img/book.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100vh;
    min-height: 1000px;
}
.photobook .comment{
    margin-top: 200px;
}

.photobook .page-title {
    text-align: center;
    padding: 20px 0 40px 0;
}

.photobook .page-title h1 {
    font-family: GenevaNormal;
    font-size: 30px;
    line-height: 30px;
    color: #e2e2e2;;
}

.photobook #wowslider-container1{
    top: 120px;
}

.photobook .caption {
    text-align: center;
    width: 900px;
    margin: 0 auto;
}

.photobook .caption p {
    padding-top: 60px;
    font-family: Adventure;
    font-size: 32px;
    color: #e2e2e2;
}


.page3 {
    height: 900px;
}

.page3 > .title {
    text-align: center;
    font-family: GenevaNormal;
    font-size: 30px;
    line-height: 80px;
    color: #000010;
}

.page3 .packages {
    margin: 0 auto;
    height: 500px;
    width: 95%;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;

}

.page3 .packages > div {
    width: 310px;
    height: 500px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.page3 .packages .light {
    text-align: center;
    font-family: Helvetica2;
    font-weight: 100;
    background-color: #ababab;
    color: #ffffff;

}

.packages .light .title {
    width: 100%;
    height: 80px;
    padding-top: 20px;
    font-size: 18px;
    color: #ffffff;
    background: #323232; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMyMzIzMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1YzVjNWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjN2RiOWU4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top, #323232 0%, #5c5c5c 100%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #323232), color-stop(100%, #5c5c5c), color-stop(100%, #7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #323232 0%, #5c5c5c 100%, #7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #323232 0%, #5c5c5c 100%, #7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #323232 0%, #5c5c5c 100%, #7db9e8 100%); /* IE10+ */
    background: linear-gradient(to bottom, #323232 0%, #5c5c5c 100%, #7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#323232', endColorstr='#7db9e8', GradientType=0); /* IE6-8 */

}

.packages .title .description {
    font-size: 22px;
    line-height: 30px;
}

.packages .body {
    padding-top: 20px;
}

.packages .body ul li:before {
    content: "-";
    position: relative;
    left: -5px;
}

.packages .body ul li{
    font-family: MinionPro;
    font-size: 18px;

}

.packages .body .prices {
    margin-top: 250px;
    font-size: 24px;
}

.packages .body .prices p {
    margin-top: 10px;
}

.page4{
    height:100vh;
    min-height: 850px;
    padding-top: 250px;
    background-color: #ababab;
}


.page4 .caption {
    text-align: center;
    width: 900px;
    margin: 0 auto;
}

.page4 .caption p {
    font-family: Adventure;
    font-size: 32px;
    color: #e2e2e2;
    text-align: center;
}
.page4 .frame{
    width: 900px;
    margin: 0 auto;
    padding: 30px;
}

.form-box label{
    font-family: Arial;
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #b6b6b6;
    display: inline-block;
    padding-left:15px;
}
.form-box input{
    border: none;
    width: 260px;
    height: 40px;
    display: inline-block;
    background: #61615d;
    color: #b6b6b6;
}


.form-box span{
    font-family: FontAwesome;
    font-size: 18px;
    background: #61615d;
    color:#b6b6b6;
    position: relative;
    left: 20px;
}

.form-box p:nth-child(2){
    margin-bottom: 20px;
}

.form-box .order-button{
    margin-top: 60px;
    text-align: center;
}
.form-box .order-button input{
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 18px;
    text-transform: uppercase;
    background: #d26d34;
    width: 140px;
    color:#d4d4d4;
}


.page4 .form-box{
    padding-top: 30px;
    padding-bottom: 60px;
    margin: 100px auto 0 auto;
    width:300px;
    height: 245px;
    background-color: rgba(23, 22, 17, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#171611, endColorstr=#171611);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#171611, endColorstr=#171611)";
}

.page5{
    padding-top: 250px;
    background: url(../img/picnick_landscape.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 80vh;
    min-height: 760px;
    position: relative;

}



.page5 .caption {
    text-align: center;
    width: 900px;
    margin: 0 auto;
}

.page5 .caption p {
    font-family: Adventure;
    font-size: 32px;
    color: #e2e2e2;
}
.pt30{
    padding-top: 30px;
}
.page5 .social{
    position: absolute;
    bottom:30px;
    height: 60px;
    width: 100%;
    text-align: center;
}
.page5 .social > a{
    background-position:5px 5px;
    background-repeat:no-repeat;
    display:inline-block;
    height:58px;
    overflow:hidden;
    padding:5px;
    text-indent:100%;
    white-space:nowrap;
    width:58px;
}
.page5 .social .facebook{
    background-image: url('../img/facebook.png');
}
.page5 .social .vk{
    background-image: url('../img/vkontakte.png');
}
.page5 .social .bridge{
    background-image: url('../img/bridge.png');
    width: 104px;
}
.page5 .social .youtube{
    background-image: url('../img/youtube.png');
}
.page5 .social .pinterest{
    background-image: url('../img/pinterest.png');
}
@font-face {
    font-family: 'GenevaNormal';
    src: url('../fonts/geneva/GenevaNormal.eot');
    src: url('../fonts/geneva/GenevaNormal.eot?#iefix') format('embedded-opentype'),
    url('../fonts/geneva/GenevaNormal.woff2') format('woff2'),
    url('../fonts/geneva/GenevaNormal.woff') format('woff'),
    url('../fonts/geneva/GenevaNormal.ttf') format('truetype'),
    url('../fonts/geneva/GenevaNormal.svg#GenevaNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MinionPro';
    src: url('../fonts/minion-pro/MinionPro-Regular.eot');
    src: url('../fonts/minion-pro/MinionPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/minion-pro/MinionPro-Regular.woff2') format('woff2'),
    url('../fonts/minion-pro/MinionPro-Regular.woff') format('woff'),
    url('../fonts/minion-pro/MinionPro-Regular.ttf') format('truetype'),
    url('../fonts/minion-pro/MinionPro-Regular.svg#MinionPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Adventure';
    src: url('../fonts/adventure/Adventure.eot');
    src: url('../fonts/adventure/Adventure.eot?#iefix') format('embedded-opentype'),
    url('../fonts/adventure/Adventure.woff2') format('woff2'),
    url('../fonts/adventure/Adventure.woff') format('woff'),
    url('../fonts/adventure/Adventure.ttf') format('truetype'),
    url('../fonts/adventure/Adventure.svg#Adventure') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica2';
    src: url('../fonts/halvetica/Helvetica.eot');
    src: url('../fonts/halvetica/Helvetica.eot?#iefix') format('embedded-opentype'),
    url('../fonts/halvetica/Helvetica.woff2') format('woff2'),
    url('../fonts/halvetica/Helvetica.woff') format('woff'),
    url('../fonts/halvetica/Helvetica.ttf') format('truetype'),
    url('../fonts/halvetica/Helvetica.svg#Helvetica') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'UniSansThinCAPS';
    src: url('../fonts/uniSans/UniSansThinCAPS.eot');
    src: url('../fonts/uniSans/UniSansThinCAPS.eot?#iefix') format('embedded-opentype'),
    url('../fonts/uniSans/UniSansThinCAPS.woff2') format('woff2'),
    url('../fonts/uniSans/UniSansThinCAPS.woff') format('woff'),
    url('../fonts/uniSans/UniSansThinCAPS.ttf') format('truetype'),
    url('../fonts/uniSans/UniSansThinCAPS.svg#UniSansThinCAPS') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AaarghNormal';
    src: url('../fonts/aargh/AaarghNormal.eot');
    src: url('../fonts/aargh/AaarghNormal.eot?#iefix') format('embedded-opentype'),
    url('../fonts/aargh/AaarghNormal.woff2') format('woff2'),
    url('../fonts/aargh/AaarghNormal.woff2') format('woff2'),
    url('../fonts/aargh/AaarghNormal.woff') format('woff'),
    url('../fonts/aargh/AaarghNormal.ttf') format('truetype'),
    url('../fonts/aargh/AaarghNormal.svg#AaarghNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}


.uni-sans{
    font-family: 'UniSansThinCAPS' !important;
}

.aargh{
    font-family: 'AaarghNormal' !important;
}




/*media*/

@media all and (min-width: 1440px)  {
    .page3 .packages{
        width: 64%;
    }
}

@media all and (max-width: 15000px)  {
    .examples .video > div{
        margin-top: 30px;
    }
}