@font-face {
  font-family: 'AaarghNormal';
  src: url('AaarghNormal.eot');
  src: url('AaarghNormal.eot?#iefix') format('embedded-opentype'),
       url('AaarghNormal.woff2') format('woff2'),
       url('AaarghNormal.woff') format('woff'),
       url('AaarghNormal.ttf') format('truetype'),
       url('AaarghNormal.svg#AaarghNormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

