@font-face {
  font-family: 'GenevaNormal';
  src: url('GenevaNormal.eot');
  src: url('GenevaNormal.eot?#iefix') format('embedded-opentype'),
       url('GenevaNormal.woff2') format('woff2'),
       url('GenevaNormal.woff') format('woff'),
       url('GenevaNormal.ttf') format('truetype'),
       url('GenevaNormal.svg#GenevaNormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

